{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    <div class="jumbotron">
        <div class="form-group">
            <form method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username"
                       maxlength="40" />

                <div class="row">

                    <div class="col-sm">
                        <label for="age">Age:</label>
                        <input type="number" name="age" class="form-control" min="0" max="150" step="0.1">
                    </div>
                    <div class="col-sm">
                        <br />
                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gender" id="M" value="M">
                          <label class="form-check-label" for="M">
                            Male:
                          </label>
                        </div>

                        <div class="form-check">
                          <input class="form-check-input" type="radio" name="gender" id="F" value="F" checked>
                          <label class="form-check-label" for="F">
                            Female
                          </label>
                        </div>
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-sm">
                        <label for="height_cm">Height cm:</label>
                        <input type="number" name="height_cm" class="form-control" min="0" max="250" step="0.1">
                    </div>
                    <div class="col-sm">
                        <label for="weight_kg">Weight kg:</label>
                        <input type="number" name="weight_kg" class="form-control" min="0" max="500" step="0.1">
                    </div>
                    <div class="col-sm">
                        <label for="body_fat_pct">Body fat %:</label>
                        <input type="number" name="body_fat_pct" class="form-control" min="0" max="100" step="0.1">
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-sm">
                        <label for="diastolic">Diastolic:</label>
                        <input type="number" name="diastolic" class="form-control" min="0" max="300" step="0.1">
                    </div>
                    <div class="col-sm">
                        <label for="systolic">Systolic:</label>
                        <input type="number" name="systolic" class="form-control" min="0" max="400" step="0.1">
                    </div>
                    <div class="col-sm">
                        <label for="gripForce">Grip force:</label>
                        <input type="number" name="gripForce" class="form-control" min="0" max="100" step="0.1">
                    </div>
                </div>

                <br />
                <div class="row">
                    <div class="col-sm">
                        <label for="sit_and_bend_forward_cm">Sit and bend forward cm:</label>
                        <input type="number" name="sit_and_bend_forward_cm" class="form-control" min="-100" max="500" step="0.1">
                    </div>
                    <div class="col-sm">
                        <label for="sit_ups_counts">Sit-ups counts:</label>
                        <input type="number" name="sit_ups_counts" class="form-control" min="0" max="150" step="0.1">
                    </div>
                    <div class="col-sm">
                        <label for="broad_jump_cm">Broad jump cm:</label>
                        <input type="number" name="broad_jump_cm" class="form-control" min="0" max="400" step="0.1">
                    </div>
                </div>

                <br />
                <div align="center"><button class="btn btn-primary">Send</button></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}